{% extends "layout2.html" %}
{% block main %}
<section class="about-us">
	<div class="row">
		<div class="about-col">
		  <h1>I am El-Doucheth Bageth III</h1>
		  <div id="abt-p"><p style="line-height:2;">You may be asking youself, "Have I seen you from such films like 'Man Vs. Cocodile Foreskin' or 'Reviving The Bubonic Plague: The 2024 Guide'?"</p></div>
		  <p style="line-height:2; font-weight: bold;">The answer? Of course! And you can't forget the classic hit "Oompa Loompa Vs. Jeffery Dahmer"<p>
		  <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="dbag" data-color="#FFDD00" data-emoji="☕"  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
		</div>
		<div class="about-col">
		   <img src="/images/coffee.jpg" alt="">
		</div>
	</div>
</section>
{% endblock %}