{% extends 'layout2.html' %}

{% block main %}
	<div class="text-box">
		<h1>Yogurt Security</h1>
		<p>"If thou hate'th Dbag'th, thou'st is of the dumbass variety"</p>
		<a href="#course" class="hero-btn">Learn More</a>
	</div>
	<!-- header section end -->
	<!-- course section strt -->
	<section class="course" id="course">
		<h1>Things I do</h1>
		<p>Women.</p>
		<div class="row">
			<div class="course-col">
				<h3>Cyber Security</h3>
				<p>&bull; Tools like <b>Nmap</b> and <b>Metasploit</b>&bull; Miscellaneous HTB Academy modules<br><br>&bull;HTB Academy <a style="text-decoration: none;" href="https://academy.hackthebox.com/path/preview/intro-to-binary-exploitation">Binary Explotation Path</a></p>
			</div>
			<div class="course-col">
				<h3>Computer Programming & Computer science</h3>
				<p>&bull; Some Python knowledge<br><br>&bull; Some C knowledge<br><br>&bull; CS50x
				</p>
			</div>
			<div class="course-col">
				<h3>Front-End</h3>
				<p>&bull; Some knowledge in HTML and CSS <br><br>&bull; Some basic Flask skills</p>
			</div>
			<a href="Games" class="Games-Word"><div class="course-col">
				<h3>Games & Fun Stuff</h3>
				<p>&bull; Scratch Mini-Games<br><br>&bull;<a style="text-decoration: none" href="https://www.yogsec.com/clargclick">ClargClick</a></p></div>
			</div></a>
		</div>
	</section>
	<!-- course section end -->
	<!-- testimonial section strt -->
	<section class="testimonials">
		<h1>What People Say</h1>
		<p>"If thou enemies are thy friends, thou't shall hav'th 4 nards in count"</p>
		<div class="row">
			<div class="testimonial-col">
				<img src="" alt="">
				<div>
					<p>0/10 would not reccomend</p>
					<h3>Hitler</h3>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
				</div>
			</div>
			<div class="testimonial-col">
				<img src="" alt="">
				<div>
					<p>This guy sucks ass bruh</b>
					<h3>Stalin</h3>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
					<i class="fa fa-star-o"></i>
				</div>
			</div>
		</div>
	</section>
{% endblock %}